
@using CampaignManagementTool.Client.Controls
@using CampaignManagementTool.Client.Components

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    @if (context.User.Identity?.IsAuthenticated != true)
                    {
                        <RedirectToLogin />
                    }
                    else
                    {
                        <p role="alert">You are not authorized to access this resource.</p>
                    }
                    <p>Test</p>
                </NotAuthorized>
                <Authorizing>
                    <LoadingSpinner></LoadingSpinner>
                </Authorizing>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <NotFoundControl></NotFoundControl>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
